nav {
    display: flex;
    padding: 15px 4%;
    justify-content: space-between;
    align-items: center;
    background: rgba(14, 16, 33, 0.637);
    backdrop-filter: blur(15px);
    position: fixed; /* Position fixiert - scrollt also mit */
    width: 100%;     /* Volle Breite */
    top: 0;          /* Am oberen Rand fixieren */
    left: 0;
    z-index: 1;   /* Sicherstellen, dass es über anderen Elementen liegt */
    box-sizing: border-box; /* Polsterung und Rand in der Breite enthalten */
    overflow: hidden; /* Verhindert Überlauf */
}
nav img {
    width: 70px;
    transform: scale(1.55); /* Adjust the scale value as needed */
    transform-origin: left; /* Ensures the logo scales from the left side */
}
.logo{
    margin-right: auto;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links ul {
    display: flex;
    margin-right: 20px;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 7.5px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
#n-btn {
    background-color: #f44336;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease; 
}
#n-btn:hover {
    transform: scale(1.1); 
}
#n-btn:active{
    scale: 0.95;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 80%;
}
/*Fa bars---------------------------*/
nav .fa-solid{
    display: none;
}
/*Dropdown---------------------------*/
.dropdown{
    display: none;
    position: fixed;
    right: 2rem;
    height: 0;
    top: 100px;
    width: 300px;
    background: rgba(14, 16, 33, 0.637);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175,0.885,0.32,1.275);
    z-index: 10;
}

.dropdown.open{
    height: 220px;
}

.dropdown li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown li a {
    color: #fff;
}
.dropdown #n-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Hero Media Querry---------------------------*/
@media(max-width: 992px){

    .nav-links ul{
        padding: 30px;
    }

    .nav-links, #n-btn{
        display: none;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
    }
    .dropdown.open{
        display: block;
    }
}
@media(max-width: 576px){
    .dropdown{
        left: 2rem;
        width: unset;

    }
}